@font-face {
    font-family: 'Shapiro 45 Welter Text';
    src: url('Shapiro-45WelterText.eot');
    src: url('Shapiro-45WelterText.eot?#iefix') format('embedded-opentype'),
        url('Shapiro-45WelterText.woff2') format('woff2'),
        url('Shapiro-45WelterText.woff') format('woff'),
        url('Shapiro-45WelterText.ttf') format('truetype'),
        url('Shapiro-45WelterText.svg#Shapiro-45WelterText') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

